@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

* {
    padding: 0px;
    margin: 0px;
    font-family: Ubuntu Mono;
    color: white;
}

body {
    -webkit-text-size-adjust: 100%;
    background-color: #131313;
}

header {
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: 1px;

    display: flex;
    align-items: center;
}

header nav{
    position: absolute;
    right: 10px;
}

nav li{
    display: inline;
    font-size: 20px;
    margin: 20px;
}

nav li:hover{
    text-decoration: underline;
}

nav a:link{
    text-decoration: none;
}

header div.logo {
    margin: 10px;
    width: max-content;
    align-items: center;
    
}

header div.logo p {
    font-size: 25px;
    text-align: center;
}

header div.logo a:link{
    text-decoration: none;
}